@font-face {
    
    font-family: "Serreria Sobria"; 
    
    src: url("./Fonts/SerreriaSobria.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 



* {
    font-family: Serreria Sobria;
}

body, header {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.title {
    font-size: 50px;
    text-align: center;

}

.control {
    display:flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}

.inpTD {
    margin: 10px 0;
    width: 500px;
    height: 30px;
}

.tds {
    margin-top: 30px;
    width: 528px;
    
}
.td {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    margin-bottom: 10px;
    padding-top: 3px;
}

.btnD {
    width: 20px;
    height: 20px;
}

.btnD:active {
    background-color: rgb(175, 174, 174);
}

.date {
    font-size: 12px;
}

.btnAdd {
    height: 36px;
}

.lbltext {
    font-size: 10px;
}


span label input  {
    display: none;/* <--скрываем дефолтный чекбокс */
  }
  label span {/* <-- стилизируем новый */
    height: 7px;
    width: 7px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
    margin-left: 3px;
  }
  [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 23px;
    color:black;
  }